<a href="https://colab.research.google.com/github/Void-Brain70/Machine_Learning/blob/main/L1_%26_L2_Regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv("/content/Melbourne_housing_FULL.csv")
df.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [ ]:
df.shape

(34857, 21)

In [ ]:
cols_to_use = ['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount', 
               'Distance', 'CouncilArea', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price']
df = df[cols_to_use]
df.head()

       Suburb  Rooms Type Method  ...  Car Landsize  BuildingArea      Price
0  Abbotsford      2    h     SS  ...  1.0    126.0           NaN        NaN
1  Abbotsford      2    h      S  ...  1.0    202.0           NaN  1480000.0
2  Abbotsford      2    h      S  ...  0.0    156.0          79.0  1035000.0
3  Abbotsford      3    u     VB  ...  1.0      0.0           NaN        NaN
4  Abbotsford      3    h     SP  ...  0.0    134.0         150.0  1465000.0

[5 rows x 15 columns]

In [ ]:
df.shape

(34857, 15)

In [ ]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [ ]:
cols_to_fill_zero = ['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']
df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
Distance             0
CouncilArea          3
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [ ]:
# One hot encoding
df['Landsize'] = df['Landsize'].fillna(df.Landsize.mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df.BuildingArea.mean())
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [ ]:
df.dropna(inplace=True)
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [ ]:
df = pd.get_dummies(df, drop_first=True)
df.head()

   Rooms  ...  CouncilArea_Yarra Ranges Shire Council
1      2  ...                                       0
2      2  ...                                       0
4      3  ...                                       0
5      3  ...                                       0
6      4  ...                                       0

[5 rows x 745 columns]

In [ ]:
x = df.drop('Price', axis=1)
y = df['Price']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2)

In [ ]:
# Linear Regression Model
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)

In [ ]:
reg.score(x_test, y_test)

0.13853683161569574

In [ ]:
reg.score(x_train, y_train)

0.6827792395792723

In [ ]:
# Lasso Regression
# L1 Regularized Regression Model

from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.1, warm_start=False)

In [ ]:
lasso_reg.score(x_test, y_test)

0.6636111369404489

In [ ]:
lasso_reg.score(x_train, y_train)

0.6766985624766824

In [ ]:
# Ridge Regression
# L2 Regularized Regression Model

from sklearn.linear_model import Ridge
ridge_reg= Ridge(alpha=50, max_iter=100, tol=0.1)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      random_state=None, solver='auto', tol=0.1)

In [ ]:
ridge_reg.score(x_test, y_test)

0.6670848945194958

In [ ]:
ridge_reg.score(x_train, y_train)

0.6622376739684328