<a href="https://colab.research.google.com/github/Void-Brain70/Machine_Learning/blob/main/multivariable_linear_regression_withSK_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as mp
from sklearn import linear_model

In [2]:
df = pd.read_csv("/content/car driving risk analysis.csv")
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [3]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [6]:
#df.experience.mean()
exp_fit = df.experience.median()
exp_fit

5.0

In [7]:
df.experience = df.experience.fillna(exp_fit)
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [8]:
reg = linear_model.LinearRegression()

In [9]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
reg.predict([[160,10,5]])

array([71.37146872])

In [11]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [12]:
reg.intercept_

33.4100009104359

In [16]:
#risk = M1*speed+ M2*car_age+M3*experience+intercept
risk = 0.33059217*160+1.61053246*10+-6.20772074*5+33.4100009104359
risk

71.3714690104359