<a href="https://colab.research.google.com/github/Void-Brain70/Machine_Learning/blob/main/Naive_Bayes_Spam_Email_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/emails.csv")
df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [ ]:
df['spam'].value_counts()

0    4360
1    1368
Name: spam, dtype: int64

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5695 rows x 2 columns]

In [ ]:
df['spam'].value_counts()

0    4327
1    1368
Name: spam, dtype: int64

In [ ]:
df.isnull().sum()

text    0
spam    0
dtype: int64

In [ ]:
# Separate x and y
x = df.text.values

In [ ]:
y = df.spam.values

In [ ]:
#Split Dataset
from sklearn.model_selection import  train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [ ]:
# Data Pre-processing
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer

xtrain = cv.fit_transform(x_train)

TypeError: ignored