<a href="https://colab.research.google.com/github/Void-Brain70/Machine_Learning/blob/main/Support_Vector_Machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [ ]:
df = pd.read_csv("/content/credit card taiwan svm algorithm.csv")
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [ ]:
df.shape

(30000, 25)

In [ ]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           2
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [ ]:
missing = df.AGE.mean()
missing

35.48549903326889

In [ ]:
df.AGE = df.AGE.fillna(missing)

In [ ]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [ ]:
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [ ]:
x = df.drop(['default.payment.next.month'],axis=1)
x

          ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0          1    20000.0    2          2  ...       0.0       0.0       0.0       0.0
1          2   120000.0    2          2  ...    1000.0    1000.0       0.0    2000.0
2          3    90000.0    2          2  ...    1000.0    1000.0    1000.0    5000.0
3          4    50000.0    2          2  ...    1200.0    1100.0    1069.0    1000.0
4          5    50000.0    1          2  ...   10000.0    9000.0     689.0     679.0
...      ...        ...  ...        ...  ...       ...       ...       ...       ...
29995  29996   220000.0    1          3  ...    5003.0    3047.0    5000.0    1000.0
29996  29997   150000.0    1          3  ...    8998.0     129.0       0.0       0.0
29997  29998    30000.0    1          2  ...   22000.0    4200.0    2000.0    3100.0
29998  29999    80000.0    1          3  ...    1178.0    1926.0   52964.0    1804.0
29999  30000    50000.0    1          2  ...    1430.0    1000.0    1000.0    1000.0

[30000 rows x 24 columns]

In [ ]:
y = df['default.payment.next.month']
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default.payment.next.month, Length: 30000, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [ ]:
x_tarin,y_tarin,x_test,y_test = train_test_split(x,y,test_size=.25,random_state=1)

In [ ]:
x_tarin

          ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
26340  26341   150000.0    2          1  ...    2000.0    2000.0    2000.0    1500.0
3877    3878    50000.0    2          2  ...     255.0    3000.0     191.0       0.0
27081  27082    80000.0    1          2  ...    7000.0    3100.0    3000.0    3000.0
5440    5441   120000.0    2          2  ...    1000.0    1500.0    1500.0    1500.0
22164  22165   150000.0    2          1  ...    2500.0       0.0    1380.0       0.0
...      ...        ...  ...        ...  ...       ...       ...       ...       ...
17289  17290   170000.0    2          3  ...    1136.0    1000.0       0.0   36679.0
5192    5193   330000.0    2          1  ...       0.0       0.0       0.0       0.0
12172  12173    50000.0    1          2  ...     687.0     705.0     811.0     874.0
235      236    80000.0    1          1  ...    1719.0    1378.0   19942.0    2418.0
29733  29734   300000.0    1          2  ...   34042.0      66.0   14062.0    3081.0

[22500 rows x 24 columns]

In [ ]:
model = SVC(gamma='auto')

In [ ]:
# model.fit(x_tarin,y_tarin)

In [ ]:
model.score(x_test,y_test)